.feed-card {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 3px #B2B2B2;    ;
}

.feed-card p {
    font-size: 14px;
}

.feed-card-title {
    font-weight: 700;
    margin-bottom: 0;
}

/* https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
.feed-card-description {
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like-icon:hover {
    opacity: 0.7;
}