.authentication-container {
    margin: 0 auto;
    width: 90%;
}

.authentication-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #023047;
    top: 0;
}

.authentication-form {
    background-color: white;
    border-radius: 24px;
}

.authentication-container .form-group {
    width: 100%;
}

.authentication-container button {
    width: 100%;
}

.authentication-container h1 {
    text-align: center;
    color: white;
    position: relative;
}

/* sm breakpoint */
@media only screen and (min-width: 576px) {
    .authentication-container {
        width: 400px;
    }
}

.authentication-container form {
    position: relative;
}

.auth-toggle {
    position: relative;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.registration-step-2-container {
    position: relative;
}

.authentication-container .form-label {
    font-weight: bold;
}

.authentication-container .form-control {
    border-radius: 100px;
}

.authentication-container .form-control:focus {
    border-color: #FB8500;
    box-shadow: 0 0 0 0.1rem rgb(251 133 0 / 50%);
}

.authentication-container .alert {
    width: 100%;
}

#go-back-btn {
    background-color: #eb4034 !important;
}

#go-back-btn:hover {
    background-color: #c2352b !important;
}

.registration-step-2-container .word-selection-container {
    margin-bottom: 32px;
}