.search-input {
    background-color: #261817 !important;
    border: none !important;
    color: #ebebeb !important;
    padding-bottom: 8px !important;
    height: 48px;
    border-radius: 100px !important;
}

.search-input:focus {
    border-color: #FB8500 !important;
    box-shadow: 0 0 0 0.1rem rgb(251 133 0 / 50%) !important;
}